*{
    font-family: Montserrat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    list-style: none;
    
}

html {
    background-color: whitesmoke;
}

.flex {
    display: flex;
}

/* thIS IS FOR THE HEADERR */

header {
    padding: 1rem 8rem;
    /* position: fixed; */
    width: 100%;
}


nav {
    justify-content: space-between;
    align-content: center;
    align-items: center;   
}

a {
    color: white;
    text-decoration: none;
    /* text-underline-offset: 0; */
}
.nav-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: white;
    display: none;
    position: absolute;
}

/* .pages:hover {
    color: red;
} */


.pages:hover .nav-dropdown {
    display: flex;
}


.logo {
    width: 7rem;
}

.navlinks {
    gap: 2rem;
}


.profile {
    aspect-ratio: 1/1;
    border-radius: 48%;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
}

.profile img {
    width: 100%;
}

/* This is the Hero Section */
.hero {
    background-color: rgb(40, 108, 137);
    flex-direction: column;
 }

.hero-text {
    padding: 7rem 3.5rem;
    color: white;
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    gap: 16px;
}

.search-bar {
    width: 60%;
    flex-direction: row;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    background-color: whitesmoke;
    align-items: center;
    gap: 16px;

}

.search-bar input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
}

.search-bar button {
    border: none;
    background-color: #75cec8;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}

.search-bar button:hover {
    background-color: #68bbb7; /* Slightly darker shade on hover */
}

/* THE NEXT HERO SECTION!!!! */

.hero-2 {
    flex-direction: row;
    /* height: 200px; */
    border-radius: 0px 0px 100px 100px;
    background-color: #80D0C7;
    padding: 7rem 3.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    
}

.hero-2-card-1 {
    flex-direction: column;
    width: 400px;
    /* border: solid 1px; */
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 32px;
    gap: 24px;
    background-color: white;
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.card-1 {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-2-card-1 img {
    width: 100%;
}

.hero-2-card-1 button {
    border: none;
    background-color: #75cec8;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    flex-grow: 1;
}

p {
    font-size: 1.2rem;
}

.share-cont {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.share {
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.card-2 {
    position: relative;
    background-size: cover;
    background-position: center;
}




/* BROWSE TOPICS SECTION */
.browse-topics {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.browse-topics-div {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 0.25px solid rgb(228, 228, 228);
    padding: 1rem;
}

.browse-topics-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
    font-size: 1.2rem;
    
}

.cards-holder {
    width: 100%;
    flex-direction: row;
    gap: 32px;
    padding: 2rem 8rem;
}